@font-face {
  font-family: "Seven-Segment";
  src: url("/assets/fonts/Seven-Segment.ttf");
}

body {
  font-family: "Press Start 2P", cursive;
}

.heading {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  @include respond(phone) {
    font-size: 2.5rem;
  }
}
